@font-face {
  font-family: Shardee;
  src: url(/assets/fonts/Shardee.ttf) format('truetype');
}

body {
    background: url(/assets/images/usagi-pattern.png);
    background-position: top center;
    background-repeat: repeat;
    background-size: 250px;
    background-attachment: fixed;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

hr {
  display: absolute;
  margin-top: 70px;
  border: #fff dashed 2px;
}

button {
  all: unset;
}

.hidden {
  display: none;
}

#header {
    background-color: #ffcfff;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    position: fixed;
}

.nav {
  display: block;
  position: relative;
  top: 35px;
  left: 35px;
  width: fit-content;
}

.nav .hamburger {
  position: relative;
  display: block;
  margin: auto;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
  font-size: 34px;
  color: #fff;
}

.nav .hamburger span {
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
}

.nav .hamburger::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #eb86e1;
  z-index: -1;
}

.nav .item {
  position: absolute;
  display: block;
  top: -18px;
  left: -15px;
  transform: translate(0, 0) scale(0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #981d6d;
  transition: 0.15s;
  transition-delay: calc(0.1s * var(--i));
  z-index: 998;
}

.nav .item a {
  top: 24%;
  position: relative;
  display: block;
  margin: auto auto;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  text-decoration: unset;
}

.nav.open .item.first {
  transform: translate(115%, -40%) scale(0.66);
}

.nav.open .item.second {
  transform: translate(100%, 32%) scale(0.66);
}

.nav.open .item.third {
  transform: translate(45%, 88%) scale(0.66);
}

.nav.open .item.fourth {
  transform: translate(-30%, 100%) scale(0.66);
}


#header .title {
    font-size: 72px;
    right: 15px;
    position: absolute;
    padding-right: 10px;
    font-family: 'Shardee';
    color: #fff;
    -webkit-text-stroke: 1px #a17eb9;
}

#title-moon {
  position: absolute;
  display: block;
  right: 10px;
  top: 50px;
}

#about-container {
  position: fixed;
  display: block;
  right: 3%;
  width: 15%;
  min-width: 200px;
}

#about-container.hidden.mobile {
  display: none;
}

#about-container img {
  width: 150px;
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #fff;
}

#about-container-text {
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 10px;
  user-select: text !important;
  background-color: #fff7ff;
  border-radius: 8px;
}

.closer-opener {
  position: absolute;
  display: none;
  color: #fff;
  right: 15px;
  font-size: 24px;
  z-index: 999;
}

.closer-opener.mobile {
  display: block;
}

.closer-opener.hidden {
  display: none;
}

#main-container {
    margin-top: 125px;
    display: inline-block;
    width: 100%;
}

#filter-btn-container {
  position: fixed;
  width: fit-content;
  left: 15px;
  display: flex;
  background-color: #fff7ff;
  width: 15%;
}

.cloud {
  background-color: #fff7ff;
  position: absolute;
  list-style: none;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  border-radius: 5px;;
}

ul.cloud button[data-weight="1"] { --size: 1; }
ul.cloud button[data-weight="2"] { --size: 2; }
ul.cloud button[data-weight="3"] { --size: 3; }
ul.cloud button[data-weight="4"] { --size: 4; }
ul.cloud button[data-weight="5"] { --size: 5; }
ul.cloud button[data-weight="6"] { --size: 6; }
ul.cloud button[data-weight="7"] { --size: 7; }
ul.cloud button[data-weight="8"] { --size: 8; }
ul.cloud button[data-weight="9"] { --size: 9; }

ul.cloud button {
  all: unset;
  color: #7043b9;
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
}

ul.cloud button:hover {
  color: #3f1d75;
}

ul.cloud button.active {
  color: #cf45ad;
}

#filter-div-container {
    margin: auto auto;
    width: fit-content;
    display: inline-block; 
    background-color: #ffedff;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#filter-div-container button {
    background: none;
    border: none;
    padding: 0;
}
  
.filter-div {
    float: left;
    color: #ffffff;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

.filter-div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

 /* The Modal (background) */
  #modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 55%;
    min-width: 350px;
    position: relative;
    border-radius: 10px;
  }

  .modal-img-container {
    display: block;
    margin: 25px auto;
    background-color: #c7c7c7;
    border-radius: 3px;
    width: 70%;
    min-width: 300px;
    max-width: 700px;
  }

  #modal-img {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
    min-width: 300px;
  }

  /* Thumbnails */
  #modal-thumbs {
    position: relative;
    margin: auto;
    margin-top: 10px;
  }

  #modal-thumbs img {
    object-fit: cover;
    width: 75px;
    height: 75px;
    margin-right: 5px;
  }

  .active-thumbnail {
    outline: #000 solid 3px;
  }

  /* Text */

  #modal-caption {
    display: block;
    margin: 15px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  #modal-text {
    background-color: #ddd;
    margin: 25px auto;
    padding: 15px;
    border-radius: 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .nav-arrows {
    position: relative;
    margin: auto;
  }

  /* prev/next arrows */
  .prev-img, .next-img {
    position: absolute;
    display: block;
    font-size: 36px;
    color: #888;
    z-index: 9990;
    margin-top: 40%;
  }

  .prev-img {
    left: -50px;
  }

  .next-img {
    right: -50px;
  }


  .prev-img:hover,
  .next-img:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 