body {
    background-color: #ffe4ff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

i {
}

#header {
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    position: fixed;
}

.favicon-btn {
    background-color: transparent;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 35px;
}

.favicon-btn img {
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000099;
}

.dropdown {
    color: #000;
    display: inline;
    position: absolute;
    text-align: left;
    font-size: 48px;
    margin: 20px;
    margin-right: 84%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 36px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(38, 38, 38);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

#header .title {
    display: inline;
    font-size: 72px;
    margin-right: 25px;
    margin-left: 89%;
}

.socials {
    margin-top: 10px;
    z-index: 999;
}

.social-btn {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    width: 18px;
    height: 20px;
    color: #130f4d;
    transition: color 1s;
    font-size: 18px;
    border: 1px solid #999;
    padding: 1px 3px;
    box-shadow: 0px 5px 5px #00000099;
}

.social-btn:active {
    background-color: #87859f;
}

.social-btn:hover {
    i {
    color: #3688FF;
    }
}

#main-container {
    margin-top: 125px;
    display: block;
    width: 100%;
}

#buttons-container {
    position: fixed;
    display: inline-flex;
    width: fit-content;
}

#sort-btn-container {
    position: relative;
    margin-left: 40px;
}

#filter-btn-container {
    position: relative;
    left: 15px;
    display: grid;
}

#filter-div-container {
    position: relative;
    width: 66%;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.filter-div {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 300px;
    height: 300px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .filter-btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .filter-btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .filter-btn.active {
    background-color: #666;
    color: white;
  }

.floaty {
    width: 750px;
    margin: 10% auto;
    background-color: #fff;
}

.floaty .title {
    font-size: 48px;
}




#scroll-dn {
    position: fixed;
    margin: -8% calc(50% - 16px);
    width: 32px;
    height: 35px;
    z-index: 400;
    background-color: #d5cfff66;
    border-radius: 3px;
    opacity: 100%;
    font-size: 32px;
    text-align: center;
}

#scroll-dn i {
    color: #ffffff66;
}

#wrapper {
    background-color: #1c0336;
    margin: auto;
    padding: 30px;
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
    text-align: center;
    z-index: 500;
    border-radius: 10px;
}  

#wrapper-wide {
    background-color: #1c0336;
    margin: auto;
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    width: fit-content;
    text-align: center;
    z-index: 500;
    border-radius: 10px;
}  

.pic-button, .pic-button-wide {
    position: relative;
    background: transparent;
    color: #000;
    font-size: 24px;
    border: none;
    margin-bottom: 20px;
}

.pic-button img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    opacity: 100%;
    transition: opacity 1s;
}

.pic-button-wide img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 100%;
    transition: opacity 1s;
}

.pic-button:hover, .pic-button-wide:hover {
    img {
        opacity: 25%;
    }
    .button-title {
        opacity: 100%;
    }
    .button-title-wide {
        opacity: 100%;
    }
}

.pic-button#misc img, .pic-button-wide#misc img{
    object-position: center;
}

#fashion {
    object-position: center center;
}

.button-title {
    position: absolute;
    top: 0;
    margin: 25%;
    opacity: 0%;
    transition: opacity 1s;
    z-index: 499;
    color: #fff;
}

.button-title-wide {
    position: absolute;
    top: 0;
    margin: -14% 34%;
    opacity: 0%;
    transition: opacity 1s;
    z-index: 499;
    color: #fff;
}